/bots.txt
/Capture.PNG
/card.html
/clients - Copy.html
/clients.html
/data.csv
/data.json
/data.py
/data.txt
/des.py
/details.db
/django-forms.txt
/download1.jpg
/gal.html
/geckodriver.log
/hai.txt
/hello.py
/internship.txt
/kkk.py
/matplotlib.txt
/mew.py
/mod.py
/model.py
/modify.py
/modifypy.txt
/mongo.py
/myfile.txt
/myfile1.txt
/new.css
/new.json
/new1.html
/nvbar.html
/pic.PNG
/popup.html
/popup.txt
/port.jpeg
/python.txt
/PyWhatKit_DB.txt
/social.txt
/web.PNG
/websrap.txt
/work.py
/work.py.txt
/wrks.py
/__pycache__